.services {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    background: #101010;
    padding: 150px 0;

    &-title {
        display: flex;
        justify-content: center;
        position: relative;

        & span {
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 100px;
            line-height: 93%;
            letter-spacing: 0.03em;
            text-align: center;
            color: #fff;
            background: #101010;
            position: relative;
            z-index: 2;
            padding: 0 64px;
        }

        &::after {
            content: "";
            background: #3b3b3b;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 1;
        }
    }

    &-subtitle {
        font-family: var(--font-family-1);
        font-weight: 400;
        font-size: 22px;
        line-height: 104%;
        letter-spacing: 0.05em;
        text-align: center;
        color: #cbcbcb;
        max-width: 1000px;
        margin: 0 auto;
    }

    &-header {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


@media (max-width: 576px) {
    .services {
        padding: 100px 16px;

        &-title {
            & span {
                padding: 0 30px;
                font-size: 50px;
            }
        }

        &-subtitle {
            font-size: 20px;
        }
    }
}